.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; /* Default height for smaller screens */
  transition: background-image 0.5s ease-in-out;
}

.bg-fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.bg-fade-out {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

/* Responsive adjustments */
@media (min-width: 1024px) and (max-width: 1440px) {
  .card {
    height: 35vh;
  }
}

@media (min-width: 1440px) {
  .card {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .card {
    height: 350px;
  }
}
