
@media(max-width:359px) {
    body::before {
        height:90vh;
        }
        body.menu-open::before {
            height: 120vh;
    
}
.dish{
    margin-right: 10px;

    width:50%;
height: 160px;

}
}
@media (min-width: 360px) and (max-width:380px) {
    body::before {
        height:110vh;
        }
        body.menu-open::before {
            height: 150vh;
}
     .dish{
    margin-right: 10px;
    width:50%;
    height: 160px;
}
}


@media (min-width: 381px) and (max-width: 425px) {
    body::before {
        height: 90vh;
    }
    body.menu-open::before{
        height:120vh;
    }
    .dish{
        width:50%;
    height: 160px;

    }

}
@media(min-width:425px) and (max-width:435px){
    body::before {
        height:80vh;
    }
    body.menu-open::before{
        height:110vh;
    }
    .dish{
        width:50%;
    height: 160px;

    }
}


/* @media(min-width:1024px) and (max-width:1353px){

    .search{
        margin-top:8%
    }
    .words{
        margin-left:-40%
    }
    .words1{
        margin-left:-40%
    }

}
@media(min-width:1354px) and (max-width:1440px){
.socard{
    margin-left: 20px;


}
.search{
    margin-top: 10%;
}


} */