.search1{
    margin-top:3%;
}
@media(max-width:359px) {
    body::before {
        height:80vh;
        }
        body.menu-open::before {
            height: 110vh;
    
}
.tso{
    margin-top:30%;
    
}



}
@media (min-width: 360px) and (max-width:380px) {
    body::before {
        height:110vh;
        }
        body.menu-open::before {
            height: 150vh;
}
.tso{
    margin-top:55%;
    
}

}


@media (min-width: 381px) and (max-width: 425px) {
    body::before {
        height: 80vh;
    }
    body.menu-open::before{
        height:115vh;
    }
    .tso{
        margin-top:35%;
        
    }
    

}
@media(min-width:425px) and (max-width:435px){
    body::before {
        height:80vh;
    }
    body.menu-open::before{
        height:110vh;
    }
    .tso{
        margin-top:40%;
        
    }
    
}
@media(min-width:768px) and (max-width:1023px){


}
@media(min-width:1024px) and (max-width:1353px){

body::before{
    height:90vh;
}
.search1{
    margin-top:8%;
}



}
@media(min-width:1354px) and (max-width:1440px){
    .search1{
        margin-top:8%;
    }
    
    
}