body {
    position: relative;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    background-image: url('./assets/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
}
@media(max-width:359px) {
    body::before {
        height:90vh;
        }
        body.menu-open::before {
            height: 120vh;
    
}
.logo{
    margin-right:60%;
}
}
@media (min-width: 360px) and (max-width:380px) {
    body::before {
        height:100vh;
        }
        body.menu-open::before {
            height: 140vh;
}
.logo{
    margin-right:70%; }

}


@media (min-width: 381px) and (max-width: 425px) {
    body::before {
        height: 70vh;
    }
    body.menu-open::before{
        height:110vh;
    }
    .logo{
    margin-right:70%; }

}
@media(min-width:425px) and (max-width:435px){
    body::before {
        height:70vh;
    }
    body.menu-open::before{
        height:100vh;
    }
    .logo{
        margin-right:70%; }
    
}
/* @media(min-width:768px) and (max-width:1024px){
    body{
        position: relative;
        height: 100vh;
        margin: 0;
}
} */