@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif; /* Replace with your Tailwind/Google font */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Better font rendering on Mac */
  -moz-osx-font-smoothing: grayscale; /* Better font rendering on Mac */
}
